.button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  righ
}

.button1 {
  background-color: #008CBA; /* Green */
}
.button2 {
  background-color: #4CAF50; /* Green */
}
.button3 {
  background-color: #f44336; /* Green */
}
.button4 {
  background-color: #ffa500; /* Green */
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

span{
  padding: 9px;
  text-align: bottom
}
